@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  .menu {
    list-style: none;
    padding: 25px 0;
    margin: 0;
    text-align: center;
  }

  .menu > li {
    display: inline;
    margin: 0 36px;
  }

  .menu > li a {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FF0000;
    line-height: 18px;
    text-decoration: none;
  }

.image {
    width: 1280px;
    height: 789px;
    margin: 0 auto;
    display: block;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 49px;
    text-align: center;
}
.content {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
}
.text_1 {
    margin-top: 38px;
    margin-bottom: 0;
}
.text_2 {
    margin-top: 28px; 
}
.btn {
    margin: 0 auto;
    display: block;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 66px;
    cursor: pointer;
}
.copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-right: 99px;
    margin-top: 82px;
    margin-bottom: 29px;
}